@import url(//fonts.googleapis.com/css?family=Open+Sans);
*{
  font-family: 'AirbnbCereal', 'Open Sans';
  margin: 0;
  padding: 0;
}

  nav.navbar{
    box-shadow:0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .nav-link.a:hover::after{
    content: '';
    display: block;
    border-bottom: 3px solid #5bc0de;
    margin: 0 auto -3px;
  }

  .nav-link.a.active::after{
    content: '';
    display: block;
    border-bottom: 3px solid #5bc0de;
    margin: 0 auto -3px;
  }
